<footer>
    <h2 class="sec-header">You've reached the end</h2>
    <div class="div-footer">

        <div class="foot-kid">
            <h3 class="foot-header">Socials</h3>
            <ul>
                <li><a href="https://www.instagram.com/nahproducts" class="footer-links">Instagram</a></li>
                <li><a href="https://wa.me/27634927047" class="footer-links">Whatsapp</a></li>
                <li><a href="mailto:nahproducts@gmail.com?subject=Business&body=I%20would%20like%20to%20inquire%20about%20a%20product%20on%20your%20catalogue..." class="footer-links">nahproducts</a></li>
            </ul>
        </div>

        <div class="foot-kid">
            <h3 class="foot-header">Help</h3>
            <ul>
                <li><a href="#" class="footer-links">Terms of use</a></li>
                <li><a href="#" class="footer-links">FAQ</a></li>
            </ul>
        </div>

        <div class="foot-kid">
            <h3 class="foot-header">Web</h3>
            <ul>
                <li><a href="https://github.com/PGK16POWERS/NahInc." class="footer-links">Github</a></li>
                <li><a href="#" class="footer-links">Gateways</a></li>
                <li><a href="#" class="footer-links">License</a></li>
            </ul>
        </div>

    </div>

</footer>