:root {
    --nuns: 'Nunito', sans-serif;
    --pops: 'Poppins', sans-serif;
    --mulls: 'Mulish', sans-serif;
    --monts: 'Montserrat', sans-serif;
}
/**** PRODUCT LINE UP ****/
.prod-line-up {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 50vh;
    margin: 0 1rem 1rem 1rem;
    border-radius: 16px;
    gap: 1rem;
    margin-top: 1.5rem ;
}
.prod-child {
    background-color: grey;
    height: 220px;
    width: 500px;
    border: 0 solid transparent;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.prod-child:hover,
.prod-child:active {
    box-shadow: 0 2px 4px 5px #c7c7c68c;
    transform: scale(101%);
    background-position: 0 -5px;
}
.prod-child:nth-child(1) {
    background-image: url(newarr.png);
    background-position: 0 -100px;
}
.prod-child:nth-child(2) {
    background-image: url(skincarediv.png);
    background-position: 0 -90px;
}
.prod-child:nth-child(3) {
    background-image: url(shapewearproddiv.png);
    background-position: 0 -90px;
}
.prod-child:nth-child(4) {
    background-image: url(hairproddiv.png);
    background-position: 0 -90px;
}
.prod-child:nth-child(5) {
    background-image: url(fragprodDiv.png);
    background-position: 0 -90px;
}
.modal-name {
    font-size: 2em;
    letter-spacing: 2px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: var(--mulls);
    font-weight: 800;
    color: #fbfaf9;
}
@media (max-width: 700px) {
    .modal-name {
    font-size: 1.5em;
    margin-left: 5px;
    margin-top: 5px;
    font-weight: 700;
}

}
/**** PRODUCT LINE UP ****/
/**** MODAL DIV ****/
.overlaydiv {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(197, 197, 197);
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modaldiv {
    width: 350px;
    padding: 1rem 0.5rem;
    background-color: #f2f1ec;
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
    align-items: center;
    border: 0solid transparent;
    border-radius: 5px;
    text-align: center;
}
.marjellaimg {
    width: 30%;
}
.modalheader {
    font-size: 1.7em;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: var(--monts);
    z-index: 16;
}
.modalmessage {
    font-family: var(--monts);
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: 1.5px;
    line-height: 25px;
}
#modalbutton {
    border: 0 solid transparent;
    border-radius: 2px;
    background-color: dodgerblue;
    color: white;
    font-family: var(--nuns);
    font-size: 1.2em;
    letter-spacing: 1.5px;
    font-weight: 500;
    padding:0.7rem 2rem
}

/**** MODAL DIV ****/
