* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --nuns: 'Nunito', sans-serif;
    --pops: 'Poppins', sans-serif;
    --mulls: 'Mulish', sans-serif;
}
#undo {
    cursor: pointer;
  font-weight: 300 !important;
  font-size: 50px !important;
}
#undo:hover,
#undo:active {
    border: 0 solid rgb(255, 0, 81);
    color: rgb(255, 0, 81);
}
header {
    position: relative;
}
/**** PRODUCT LINE UP ****/
.prod-line-up {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 50vh;
    margin: 0 1rem 1rem 1rem;
    border-radius: 16px;
    gap: 1rem;
    margin-top: 1.5rem ;
}
.prod-child {
    background-color: grey;
    height: 220px;
    width: 500px;
    border: 0 solid transparent;
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.prod-child:hover,
.prod-child:active {
    box-shadow: 0 2px 4px 5px #c7c7c68c;
    transform: scale(101%);
    background-position: 0 -5px;
}
.prod-child:nth-child(1) {
    background-image: url(/soapbg2.png);
    background-position: 0 -90px;
}
.prod-child:nth-child(2) {
    background-image: url(/skincarereloaded2.png);
    background-position: 0 -90px;
}
.prod-child:nth-child(3) {
    background-image: url(/skincare5.png);
}
.prod-child:nth-child(4) {
    background-image: url(/hairprod5.png);
}
.prod-child:nth-child(5) {
    background-image: url(/perfum2.png);
}
.modal-name {
    font-size: 2em;
    letter-spacing: 2px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: var(--mulls);
    font-weight: 800;
    color: #fbfaf9;
}
/**** PRODUCT LINE UP ****/
/**** NEW ARRIVALS AND DISCOUNTED ITEMS ****/
.all-arr-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.header-sec {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.under-line {
    height: 2px;
    width: 230px;
    background-color: #6a6c6d6f;
    margin-top: 0.5rem;
}
.new-arr-header {
    font-size: 1.7em;
    letter-spacing: 2px;
    font-family: var(--pops);
    font-weight:300;
}
.item-card { 
    position: relative;
    border-radius: 16px;
    width: 300px;
    padding-bottom: 1rem;
    height: 450px;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s; /* Added transition property */
}
.item-card:hover,
.item-card:active {
    box-shadow: 0 2px 4px 5px rgba(199, 199, 199, 0.55);
    transform: scale(1.01); 
}
.card-headers {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  height: 150px;
  padding: 0 10px;
}
.recom-p {
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    bottom: 20px;
    color:rgb(255, 0, 81);
}
.recom {
   color: rgb(255, 0, 89);
   font-size: 30px;
}
.name-of-item {
  font-size: 1.5em;
  letter-spacing: 1px;
  font-family: var(--pops);
  font-weight: 400;
  color: #253439;
}
.price-of-item {
  font-size: 1.3em;
  letter-spacing: 1px;
  font-family: var(--pops);
  font-weight: 400;
  color: #253439;
}
.card-img {
  width: 100%;
  height: 300px;
  border-radius: 16px 16px 0 0;
  object-fit: contain; /* Added object-fit property to ensure image fills the container */
  background-size: contain;
}
/**** ITEM BLOCK ****/
/**** WHOLE CARD ****/
.whole-card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.picture-desc {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
}
.content-section {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 1rem 0.5rem;
}
.checkout {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem;
}
.noflex {
    display: none !important;
}
.showflex {
    display: block !important;
}
.cont-header {
    font-size: 1.5em;
    letter-spacing: 1.5px;
    font-family: var(--mulls);
    font-weight: 500;
}
.after-click {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    gap:1rem;
    border-radius: 16px;
    padding: 0.5rem;
}
.top-block {
    padding: 0.2rem 0;
    display: flex;
    justify-content: flex-end;
}
#remove-pro-desc {
    z-index: 3;
    border-radius: 7px;
    cursor: pointer;
    color: rgb(200, 200, 200);
    font-size: 50px;
}
#remove-pro-desc:hover,
#remove-pro-desc:active {
    color: rgb(52, 48, 50);
}
/**** WHOLE CARD ****/
/**** PRODUCT DESCRIPTION PAGE ****/
.pd-parent-altrd {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: auto;
}
.slideshow {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:center;
}
.slideshow img {
    display: none;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border: 0px solid transparent;
    border-radius: 16px;
}
.slideshow img:first-child {
    display: block;
}
.prevbtn,
.nextbtn {
    position: absolute;
    top: 50%;
    border: 0 solid transparent;
    border-radius: 7px;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    font-size: 16px;
    padding: 8px 12px;
    cursor: pointer;
    opacity: 20%;
}
.prevbtn {
    left: 0px;
}
.nextbtn {
    right: 0px;
}
.prevbtn:hover,
.nextbtn:hover {
    background-color: #555;
    opacity: 40%;
}
.sizes-and-colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
    margin: 1rem 0;
    gap: 0.3rem;
    background-color: #dcdcdc5e;
    border-radius: 10px;
    padding: 10px;
}
.hea-sac {
    font-family: var(--mulls);
    font-weight: 400;
}
.sm-line {
    margin-bottom: 0.2rem;
    height: 1.3px;
    width: 150px;
    background-color: #555;
}
.add-div {
    width: 40%;
}
.cont-para {
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: var(--pops);
}
.price-tag {
    font-size: 2em;
    font-family: var(--pops);
    font-weight: 300;
}
.btn-div {
    display: flex;
    align-items: center;
    gap: 1rem;
}
#checkoutBtn {
    border: 2px solid transparent;
    border-radius: 3px;
    padding: 0.8rem 0;
    width: 70%;
    font-size: 1.3em;
    font-family: var(--pops);
    font-weight: 300;
    letter-spacing: 2px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}
#wa-redi {
    font-size: 33px;
    background-color: #25D366;
    height: 100%;
    padding: 0.8rem 1rem;
    border-radius: 3px;
    cursor: pointer;
}
#wa-redi:hover,
#wa-redi:active {
    background-color: #00e454;
}
.whi {
    color: white;
}
#checkoutBtn:hover,
#checkoutBtn:active {
    background-color: #0098d8;
}
#sha-redi {
    font-size: 33px;
    background-color: #ff0033;
    height: 100%;
    padding: 0.8rem 1rem;
    border-radius: 3px;
    cursor: pointer;
}
#sha-redi:hover,
#sha-redi:active {
    background-color: #e8002e;
}
.add-info {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    letter-spacing: 1px;
    margin-left: 5px;
}
.div-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
}
.downl {
    color:dodgerblue;
    display: flex;
    align-items: center;
}
.downl:nth-child(2) {
    color: rgb(4, 156, 47);
}
.downl:nth-child(3) {
    color:  #a40021;
}
/**** PRODUCT DESCRIPTION PAGE ****/